header{
     float: center;
}

body, html{
	background-image: url(Picture1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	
}

.logo img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 6em;
}

.nav{
	list-style:decimal;
	text-align: center;
}

.nav li{
    display:inline-block;
}

.nav li a{
    color: black ;
    text-decoration:none;
    padding: 10px 30px;
    font-family: Montserrat Light;
    font-size: 15px;  
}

.nav li.active a{
    color: #d97025;
}

.nav li a:hover {
    
    border-radius: 5px 5px ;
    position: static;
	background-color:#d97025;
	color: white;
}

.section1{
	float: left;
	height: 100%;
	opacity: 80%
}

.section2{
	float: right;
	height: 100%;
	opacity: 80%
}

h1{
	font-family: Montserrat;
	font-style: bold;
	color: black;
	text-align: center;
	font-size: 60px;
	margin-top: 40px;
}

h2{
	font-family: Montserrat Light;
	color: black;
	text-align: center;
	font-size: 40px;
	margin-top: 500px;
}

p{
	font-family: Montserrat Light;
	color: black;
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
}

.footer{
	width: 100%;
	background-color: #d97025;
}

.last{
	padding: 20px;
	font-size: 15px;
	text-align: center;
	font-family: Roboto;
}